<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Lista de livros</h1>
        
        <table>
            <thead>
                <th>ID</th>
                <th>Nome</th>
                <th>Autor</th>
                <th>Disponível</th>
            </thead>
            <tbody>
                <tr th:each="livro: ${livros}">
                    <td th:text="${livro.id}"></td> 
                    <td th:text="${livro.nome}"></td> 
                    <td th:text="${livro.autor}"></td> 
                    <td th:text="${livro.disponivel}"></td> 
                </tr>
            </tbody>
        </table>
    </body>
</html>
