<!DOCTYPE html>
<html>
    <head>
        <title>Biblioteca Virtual</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/}+${css}+'.css'" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <center>
            <a href="/">Página Inicial</a>
            <a href="/livro/cadastro">Cadastrar novo livro</a>
            <a href="/livro/lista">Exibir todos os livros cadastrados</a>
            
            <h1>Cadastro de livros</h1>
            
        </center>
                
        <form method="post" th:action="@{/livro/gravar}">
            <p>ID: <input type="hidden" th:field="${livro.id}"></p>
            <p>Titulo: <input type="text" th:field="${livro.titulo}"></p>
            <p>Autor: <input type="text" th:field="${livro.autor}"></p>
            <p>Ano: <input type="number" th:field="${livro.ano}"></p>
            
            <button type="submit">Salvar</button>
        </form>
    </body>
</html>
